@model PresentationLayer.Models.GetAllHomesViewModel
@{
    ViewBag.Title = "Data Home";
}
<div class="row">
    <h1>Table Homes</h1>
    <table class="TABLE">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number Home</th>
                <th>Home</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var home in Model.Homes)
            {
                <tr>
                    <td>@home.Id</td>
                    <td>@home.NumberHome</td>
                    @foreach (var animals in home.ListAnimal)
                    {
                    <td>@animals.Name</td>
                    }
                </tr>
            }
        </tbody>

    </table>
</div>
