@model BusinessLayer.ModelsDTO.DataForDiscrimDTO
@{
    ViewBag.Title = "Index";
}
<h2>Add parameter</h2>

<div class="row">
    <form method="post">
        <input type="text" name="AParam" />
        <label> x^2+ </label>
        <input type="text" name="BParam" />
        <label> x+</label>
        <input type="text" name="CParam" />
        <label>=0 </label>
        <button type="submit"
        <a href="/Home/IndexResult">Result</a>
    </form>
</div>